body {
    background-color: #f7ede2;
}

h1 {
    color: rgb(238, 108, 77);
}

h2 {
    color: #E0FBFC;
}

li {
    color: #745296;
}

#bordeado {
    border: 2px solid white;
}

.aloha {
    background-color:#293241;
    color: white;
}

input {
    border: 2px dashed rgb(238, 108, 77);
}

div p{
    font-size: 150%;
    color: #98C1D9;
}

input[type=text]{
    background-color: #7fffd4;
}

a:visited{
    color: white;
}

div:nth-of-type(3) p{
    background-color: blue;
}

div:nth-of-type(3) p:nth-of-type(2){
    border: 4px solid white;
}

div:nth-of-type(3) span{
    background-color: white;
}

input:checked{
    margin-left: 60px;
}

label{
    text-transform: uppercase;
}

#ultimo::first-letter{
    font-size: 300%;
    background-color: orange;
}